@page "/Info/{id:int}"
@inject DatabaseContext DbContext
@inject PokemonImageGrabber ImageGrabber

<h3>Info</h3>

@if (pokemon is not null)
{
<div class="row g-0">
    <div class="col-md-3 me-1">
            <img src="@imageUrl" onerror="this.onerror=null;this.src='/img/notfound.png';" class="img-fluid img-thumbnail rounded-start" alt="@pokemon.Name" />
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@pokemon.Name</h5>
            <div class="col-md-9">                  
                <div class="progress progress-lg" style="height: 30px">
                    <div class="progress-bar-animated progress-bar-striped bg-success" role="progressbar" aria-valuenow="@pokemon?.HP" style="width: @(pokemon.HP*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="progress progress-lg" style="height: 30px">
                    <div class="progress-bar-animated progress-bar-striped bg-danger" role="progressbar" aria-valuenow="@pokemon?.Attack" style="width: @(pokemon.Attack*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="progress progress-lg" style="height: 30px">
                    <div class="progress-bar-animated progress-bar-striped bg-info" role="progressbar" aria-valuenow="@pokemon?.Defence" style="width: @(pokemon.Defence*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="progress progress-lg" style="height: 30px">
                    <div class="progress-bar-animated progress-bar-striped bg-warning" role="progressbar" aria-valuenow="@pokemon?.Speed" style="width: @(pokemon.Speed*100/255)%" aria-valuemin="0" aria-valuemax="255"></div>
                </div>
            </div>
        </div>
    </div>
</div>
}
else
{
        <p>No pokemon found for that Id</p>
}


@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;
    private string? imageUrl { get; set; }

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
        imageUrl = ImageGrabber.GetImageUrl(pokemon);
    }
}
